@import '~node_modules/modern-normalize/modern-normalize.css';

body {
    background-color: rgba(96, 101, 96, 0.082);
}


//     .background {
//             background-image: url("../images/fill_backgroumd.jpg");
//             background-repeat: no-repeat;
//             background-position: center center;
//             background-attachment: fixed;
//             // opacity: 85%; 
//             -webkit-background-size: cover;
//             -moz-background-size: cover;
//             -o-background-size: cover;
//             background-size: cover;
//             display: block;
//     @media screen and (min-width: 768px) {
//         // background-attachment: absolute;

//     }

//   @media screen and (min-width: 1200px) {

//     }

//           }


          .background {
           background: url("../images/background.jpg") no-repeat;
           background-position: center;
            background-attachment: fixed;
            background-size: cover ;
            display: block;
    @media screen and (min-width: 768px) {
    //     background-size: cover ;
    // //     height: 100vh;
    // position: absolute;
    }

  @media screen and (min-width: 1200px) {

    }

          }