.section__content {
    width: calc(100% - 100px);
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
// background-color: rgb(202, 209, 214);
}

.content__title,
.title__item {
    display: block;
    width: fit-content;
    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(96, 101, 96);
    @media screen and (min-width: 768px) {
      font-size: 36px;
          
  }
  
  @media screen and (min-width: 1200px) {
    font-size: 48px;
      
  }  

}



.list {
    display: block;
  justify-content: center;
    margin-left: auto;
    margin-right: auto;
    // padding: 0;
    padding-inline-start: 0;
    @media screen and (min-width: 768px) {
     display: flex;
       justify-content: space-around; 
       margin: 0;  
  }
  
  @media screen and (min-width: 1200px) {
  
      
  }  
}

.item {
   
    list-style-type: none; 
     width: 100% ;
border: 2px solid rgb(10, 201, 22);
    border-radius: 6px;
    // justify-content: center;
    display: inline-block;
    margin-bottom: 10px;
    // gap: 5px;
    @media screen and (min-width: 768px) {
     width: 150px;
  }
  
  @media screen and (min-width: 1200px) {
    width: 250px;
      
  }  



}

.item:hover,
.item:focus {
     background-color: rgb(10, 201, 22);
}


.link {
    display: block;
      font-size: 24px;
      font-weight: 700;
      width: 100%;
      justify-content: center;
      text-align: center;
      text-decoration: none;
      margin-top: 15px;
      margin-bottom: 15px;
    //   margin-left: auto;
    // margin-right: auto;
    // transition: all 0,3s ease;
      color: rgb(10, 201, 22);
      @media screen and (min-width: 768px) {
        font-size: 18px;
     }
     
     @media screen and (min-width: 1200px) {
      font-size: 22px;
      // text-align: center;
     }  


}

.link:hover,
.link:focus {
     transition: all 0,3s ease;
      color: rgb(225, 225, 225);
}

.text {
    font-size: 18px;
    text-indent: 30px;
   
    // margin-right: 20px;
    padding: 15px;
    color: rgb(96, 101, 96);
    border: 2px solid rgb(10, 201, 22);
    border-radius: 8px;
    @media screen and (min-width: 768px) {
     margin:20px;
    }
    
    @media screen and (min-width: 1200px) {
      margin:40px;
        
    }  

}


.location__map {
 width: calc(100% - 20px);
    // height: 500px;
  // margin-top: 30px;
  // margin-bottom: 30px;
  @media screen and (min-width: 768px) {
   display: flex;
    height: 450px;
   }
   
   @media screen and (min-width: 1200px) {
  
       
   }  
  

}

.picture,
.map {
  width: 100%;
  @media screen and (min-width: 768px) {
 width: calc(100% / 2);
   }
   
   @media screen and (min-width: 1200px) {
        
   }  

}

.location__map__title {
  font-size: 16px;
  text-align: center;
  color:  rgb(96, 101, 96);

  @media screen and (min-width: 768px) {
    font-size: 20px;
      }
      
      @media screen and (min-width: 1200px) {
            font-size: 24px;
      }  




}

.panoram__picture {
   width: 100%;
   height: 100%;
  padding: 5px;
  border-radius: 10px;
}


.map__google {
    width: 100%;
    height: 100%;
  padding: 5px;
  border-radius: 10px;

}

.schedule-body > tr:hover {
    background-color: rgb(10, 201, 22);
    color: white;
  }
  
  /* Table styling */
  .schedule {
 
    margin-top: 30px;
    margin-bottom: 30;
    margin-left: auto;
    margin-right: auto;

    border-collapse: collapse;
  }
  
  .column_title {
    text-align: center;
    // color: rgb(96, 101, 96);
    color: #fff;

  }

  .schedule th,
  .schedule td {
    padding: 8px;
  
    // border: 1px solid #212121;
  }

th {
  width: 300px;
  color: #fff;
 
  background-color: rgb(10, 201, 22);
}
td {
  text-align: center;
  font-weight: 700;
  // color: rgb(96, 101, 96);
}

.title__td {
  
text-align: left;
 
}

tr.schedule__hover_1:hover {
  color: rgb(10, 201, 22);
background-color: rgb(255, 255, 0);
}

tr.schedule__hover_2:hover {
  // color: rgb(10, 201, 22);
background-color: rgb(255, 17, 0);
}



// .btn-7 {
//     color: rgb(231, 128, 25);
// }

// .btn-7 a {
//     color: rgb(231, 128, 25);
//     position: relative;
//     content: "";
//     display: block;
//     width: 100%;
//     height: 100%;
// }

// .btn-7:before,
// .btn-7:after {
//     position: absolute;
//     content: "";
//     right: 0;
//     bottom: 0;
//     box-shadow: 0 0 5px rgb(10, 201, 22);
//     transition: all 0,3s ease;
// }

// .btn-7:before {
//     height: 50%;
//     width: 2px;
// }

// .btn-7:after {
//     width: 20%;
//     height: 2px;
// }

// .btn-7:hover:before {
//     height: 100%;
// }

// .btn-7:hover:after {
//     width: 100%;
// }
