.footer {
  // display: none;
  width: 100%;
  background-color: rgb(10, 201, 22);
  padding: 10px;
}

.contact__icon__footer {
  display: none;
  @media screen and (min-width: 768px) {
    width: 24px;
    display: block;
    margin-right: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 15px;
  }
}

.location_point {
    display: block;
  width: 100%;
  align-items: center;
//   justify-content: space-between;
  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1200px) {
  }
}

.connect {
  width: fit-content;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
  margin-bottom: 0;
  }

}

.footer__contact {
  width: 100%;
  display: flex;
  color: #fff;
  align-items: center;
}

.tell,
.mail {
  width: max-content;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
}

.footer__contact__point {
    width: fit-content;
    display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
//   justify-content: center;
//   justify-content: space-between;

  @media screen and (min-width: 768px) {
    margin-right: 15px;
  }

  @media screen and (min-width: 1200px) {
  }
}
