<section class="section__content">
    <h2 class="content__title">Всі види нотаріальних послуг</h2>
    <ul class="list">
        <li class="item"><a class="link" href="#id-1">Наші переваги</a></li>
        <li class="item"><a class="link" href="#id-2">Наші послуги</a></li>
        <li class="item"><a class="link" href="#id-3">Наш офіс</a></li>
        <li class="item"><a class="link" href="#id-4">Наш графік</a></li>        
    </ul>
    <p class="text">Консультуємо та вчиняємо всі види нотаріальних дій, згідно з Законом України “Про нотаріат та нотаріальну діяльність”. Нотаріус підключений до єдиного державного реєстру, а, отже, здійснює реєстрацію прав власності на нерухоме майно, фізичних та юридичних осіб, реєстрацію змін.  Здійснюємо нотаріальні дії, як в нашій нотаріальній конторі, так і за її межами: з виїздом нотаріуса до Вашого помешкання, офісу чи іншого місця.</p>
    <h3 class="title__item" id="id-1">Переваги</h3>
    <li class="servise__item"><p class="servise__title">Індивідуальний підхід до клієнта</p></li>
    <li class="servise__item"><p class="servise__title">За потреби працюємо за межами офісу</p></li>
    <li class="servise__item"><p class="servise__title">За довленістю надамо послуги 24/7</p></li>
    <li class="servise__item"><p class="servise__title">Все зробимо в найкоротші строки</p></li>
    <!-- <li class="servise__item"><p class="servise__title"></p></li>
    <li class="servise__item"><p class="servise__title"></p></li>
    <li class="servise__item"><p class="servise__title"></p></li>
    <li class="servise__item"><p class="servise__title"></p></li>
    <li class="servise__item"><p class="servise__title"></p></li>
    <li class="servise__item"><p class="servise__title"></p></li> -->

  </ul>



    <h3 class="title__item" id="id-2">Для Вас ми зробимо</h3>
    <!-- <ul class="servise__list"> -->
      <li class="servise__item">
        <p class="servise__title">Оформлення договорів</p>
        </li>
      <li class="servise__item"><p class="servise__title">Оформлення довіреностей</p></li>
      <li class="servise__item"><p class="servise__title">Оформлення заяв</p></li>
      <li class="servise__item"><p class="servise__title">Оформлення спадщини</p></li>
      <li class="servise__item"><p class="servise__title">Оформлення заповіту</p></li>
      <li class="servise__item"><p class="servise__title">Посвідчення підпису</p></li>
      <li class="servise__item"><p class="servise__title">Посвідчення копій</p></li>
      <li class="servise__item"><p class="servise__title">Переоформлення нерухомості</p></li>
      <li class="servise__item"><p class="servise__title">Реєстрація</p></li>
      <li class="servise__item"><p class="servise__title">Посвідчення аграрних розписок</p></li>

    </ul>
    <h3 class="title__item" id="id-3">Раді Вас бачити в нашому офісі</h3>
    <p class="location__map__title">вул. Голосіївська, 70, готель "МИР", станція метро "Голосіївська"</p>
    <div class="location__map">
      <div class="picture">
        <h3 class="location__map__title">Готель "МИР"</h3>
        <img class="panoram__picture" src="images/panoram.png" alt="panoram"/>
      </div>
      <div class="map">
        <h3 class="location__map__title">Google map</h3>
        <iframe class="map__google" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4277.441282348406!2d30.510307147973954!3d50.39672173395503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1699309593072!5m2!1suk!2sua" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    <h3 class="title__item" id="id-4">Графік</h3>
    <table class="schedule">
<thead>
        <tr>
          <th class="column_title">День тижня</th>
          <th class="column_title">Години роботи</th>
        </tr>
      </thead>
      <tbody class="schedule-body">
        <tr>
          <td class="title__td">Понеділок</td>
          <td>з 10:00 до 19:00</td>
        </tr>
        <tr>
          <td class="title__td">Вівторок</td>
          <td>з 10:00 до 19:00</td>
        </tr>
        <tr>
            <td class="title__td">Середа</td>
            <td>з 10:00 до 19:00</td>
        </tr>
        <tr>
            <td class="title__td">Четвер</td>
            <td>з 10:00 до 19:00</td>
        </tr>
        <tr>
            <td class="title__td">П'ятниця</td>
            <td>з 10:00 до 19:00</td>
        </tr>
        <tr class="schedule__hover_1">
            <td  class="title__td">Субота</td>
            <td >За попередньою домовленістю</td>
        </tr>
        <tr class="schedule__hover_2">
            <td class="title__td">Неділя</td>
            <td>Вихідний</td>
        </tr>





      </tbody>

    </table>
    

</section>