<footer class="header">
  <div class="section">
    <div class="header__section">
      <div class="footer__contact">
        <img class="contact__icon__footer" src="images/pin1.svg" alt="point" />

        <span class="location_point">
          <h4 class="footer__contact__point">пр-т. Голосіївський, 70</h4>
          <h4 class="footer__contact__point">метро Голосіївська</h4>
          <h4 class="footer__contact__point">Готель "МИР"</h4>
          <div class="location_point connect">
            <img class="contact__icon" src="images/phone.svg" width="26" />
            <a class="footer__contact__point tell" href="tel:+380960051155"
              >+380960051155</a
            >
          </div>
          <div class="location_point connect">
            <img class="contact__icon" src="images/mail.svg" width="26" />
            <a
              class="footer__contact__point mail"
              href="mailto:simonova.w78@ukr.net"
              >simonova.w78@ukr.net</a
            >
          </div>
        </span>
      </div>
    </div>
  </div>
</footer>
