<footer class="footer">
  <div class="section">
    <div class="header__section">
      <div class="footer__contact">
        <svg class="contact__icon__footer">
          <use href="images/svg/symbol-defs.svg#icon-notar-logo-footer"></use>
        </svg>

        <span class="location_point">
          <h4 class="footer__job">НОТАРІУС</h4>
          <h4 class="footer__name">СІМОНОВА Вікторія Валеріївна</h4>
        </span>
        <span class="adress">
          <h4 class="footer__contact__point">пр-т. Голосіївський, 70</h4>
          <h4 class="footer__contact__point">Готель "МИР"</h4>
        </span>
      </div>

      <img
        class="footer__wing"
        src="images/logo-kyiv-footer.png"
        alt="logo-kyiv-footer"
      />
    </div>
  </div>
</footer>
