<footer class="footer">
  <div class="section">
    <div class="header__section">
      <div class="footer__contact">
        <img class="contact__icon__footer" src="images/notar-logo-footer.svg" alt="notar-logo" />

        <span class="location_point">
          <h4 class="footer__job ">НОТАРІУС</h4>
          <h4 class="footer__name">СІМОНОВА Вікторія Валеріївна</h4>
          
          <!-- <div class="location_point connect">
            <img class="contact__icon" src="images/phone.svg" width="26" />
            <a class="footer__contact__point tell" href="tel:+380960051155"
              >+380960051155</a> -->
              <!-- </div> -->
          <!-- <div class="location_point connect">
            <img class="contact__icon" src="images/mail.svg" width="26" />
            <a
              class="footer__contact__point mail"
              href="mailto:simonova.w78@ukr.net"
              >simonova.w78@ukr.net</a
            >
          </div> -->


            </span>
            <span class="adress">
              <h4 class="footer__contact__point">пр-т. Голосіївський, 70</h4> 
          <h4 class="footer__contact__point">Готель "МИР"</h4>
            </span>


          </div>
          
         
        
        <img class="footer__wing" src="images/logo-kyiv-footer.png" alt="logo-kyiv-footer" />
      </div>
    </div>
  </div>
</footer>
