
  <header class="header">
    <div class="section">
<div class="header__section">
      <img class="logo" src="images/tryzub.svg" alt="" width="70" />
      <div class="header__title">
        <!-- <h3 class="title gov" >МІНІСТЕРСТВО ЮСТИЦІЇ УКРАЇНИ</h3> -->
        <h3 class="title city">КИЇВСЬКИЙ МІСЬКИЙ НОТАРІАЛЬНИЙ ОКРУГ</h3>
        <h1 class="title job">НОТАРІУС</h1>
        <h2 class="title name">СІМОНОВА Вікторія Валеріївна</h2>
      </div>
      <div class="contact">
        <!-- <div class="location">
          <img class="contact__icon" src="images/pin1.svg" alt="point" width="18"/>
          <span>
            <h4 class="contact__item point">пр-т. Голосіївський, 70</h4>
            <h4 class="contact__item point">метро Голосіївська</h4>
            <h4 class="contact__item point">Готель "МИР"</h4>
          </span>
        </div> -->
        <div class="location" >
          <img class="contact__icon" src="images/phone.svg" width="26"/>
        <h4 class="contact__item">+38 096 005 11 55</h4>
        </div>
        <div class="location">
          <img class="contact__icon" src="images/mail.svg" width="26"/>
        <h4 class="contact__item">simonova.w78@ukr.net</h4>
        </div>
        
      </div>
    </div>


    </div>
    
  </header>
  

 