<!DOCTYPE html>
<html lang="en">
  <article id="header">
    <header class="header">
      <div class="section">
        <div class="header__section">
          <img class="logo" src="images/svg/tryzub.svg" alt="" width="70" />
          <div class="title__contact">
            <div class="header__title"></div>
            <div class="contact">
              <div class="location">
                <a class="contact__item" href="tel:+380960051155">
                  <svg class="contact__icon">
                    <use href="images/svg/symbol-defs.svg#icon-phone"></use>
                  </svg>

                  +38 096 005 1155</a
                >
              </div>
              <div class="location">
                <a class="contact__item" href="mailto:simonova.w78@ukr.net">
                  <svg class="contact__icon">
                    <use href="images/svg/symbol-defs.svg#icon-mail"></use>
                  </svg>

                  simonova.w78@ukr.net</a
                >
              </div>
            </div>
          </div>
          <svg class="logo__kyiv">
            <use href="images/svg/symbol-defs.svg#icon-notar-logo-footer"></use>
          </svg>
        </div>
      </div>
    </header>
  </article>
</html>
