<header class="header">
  <div class="section">
    <div class="header__section">
      <img class="logo" src="images/tryzub.svg" alt="" width="70" />
      <div class="header__title">
        <h3 class="title city">КИЇВСЬКИЙ МІСЬКИЙ НОТАРІАЛЬНИЙ ОКРУГ</h3>
        <h1 class="title job">НОТАРІУС</h1>
        <h2 class="title name">СІМОНОВА Вікторія Валеріївна</h2>
      </div>
      <div class="contact">
        <div class="location">
          <img class="contact__icon" src="images/phone.svg" width="26" />
          <a class="contact__item" href="tel:+380960051155">+380960051155</a>
        </div>
        <div class="location">
          <img class="contact__icon" src="images/mail.svg" width="26" />
          <a class="contact__item" href="mailto:simonova.w78@ukr.net"
            >simonova.w78@ukr.net</a
          >
        </div>
      </div>
    </div>
  </div>
</header>
