<section class="section__link">
  <h2 class="content__title">Всі види нотаріальних послуг</h2>
  <ul class="link__list"></ul>
  <p class="text">
    Консультуємо та вчиняємо всі види нотаріальних дій, згідно з Законом України
    “Про нотаріат та нотаріальну діяльність”. Нотаріус підключений до єдиного
    державного реєстру, а, отже, здійснює реєстрацію прав власності на нерухоме
    майно, фізичних та юридичних осіб, реєстрацію змін. Здійснюємо нотаріальні
    дії, як в нашій нотаріальній конторі, так і за її межами: з виїздом
    нотаріуса до Вашого помешкання, офісу чи іншого місця.
  </p>
</section>
