<section class="section__link">
  <ul class="link__list">
    <li class="link__item">
      <a class="link" href="tel:+380960051155">
        <svg class="link__img">
          <use href="images/svg/symbol-defs.svg#icon-linck-phone"></use>
        </svg>
      </a>
    </li>

    <li class="link__item">
      <a class="link" href="https://t.me/simonova_notary">
        <svg class="link__img">
          <use href="images/svg/symbol-defs.svg#icon-linck-telegram"></use>
        </svg>
      </a>
    </li>

    <li class="link__item">
      <a class="link" href="viber://chat?number=%2B380960051155">
        <svg class="link__img">
          <use href="images/svg/symbol-defs.svg#icon-linck-viber"></use>
        </svg>
      </a>
    </li>

    <li class="link__item">
      <a class="link" href="https://wa.me/380960051155">
        <svg class="link__img">
          <use href="images/svg/symbol-defs.svg#icon-linck-whatsapp"></use>
        </svg>
      </a>
    </li>
    <li class="link__item">
      <a class="link" href="mailto:simonova.w78@ukr.net">
        <svg class="link__img">
          <use href="images/svg/symbol-defs.svg#icon-linck-mail"></use>
        </svg>
      </a>
    </li>
  </ul>
</section>
