<section class="section__link">
<ul class="link">
  <li class="link__item"><a href="tel:+380960051155"><img src="images/telefono.svg" alt="tell"/ width="40"></a></li>
  <li class="link__item"><a href="viber://chat?number=%2B380674484788"><img src="images/viber.svg" alt="viber" width="40"/></a></li>
  <li class="link__item"><a href="https://t.me/srgshevchenko"><img src="images/telegram.svg" alt="telegram" width="40"/></a></li>
  <li class="link__item"><a href="https://wa.me/380674484788"><img src="images/whatsapp.svg" alt="whatsapp" width="40"/></a></li>
  <li class="link__item"><a href="mailto:simonova.w78@ukr.net"><img src="images/mail_1.svg" alt="mail_1" width="40"/></a></li>

</ul>

  <!-- <h2 class="content__title">Всі види нотаріальних послуг</h2>
  <ul class="link__list"></ul> -->
  <!-- <p class="text">
    Консультуємо та вчиняємо всі види нотаріальних дій, згідно з Законом України
    “Про нотаріат та нотаріальну діяльність”.
  </p> -->
</section> 
