<div data-modal class="backdrop">
<div class="modal">
        <img class="modal__img" src="images/check-modal.svg" alt="img"/>
<h3 class="modal__title">Працюємо 24/7</h3>
        <div class="modal__content">
           
  <img class="modal__icon" src="images/metro-modal.svg" alt="metro"/>
    <p class="modal__text">Голосіївська, готель "МИР"</p>  
</div>
    <button data-modal-close class="button">
        <p class="button__title">OK</p>
        <!-- <img class="modal_btn_icon" src="images/check.svg"/> -->
    </button>
</div>



</div>

