<div data-modal class="backdrop">
  <div class="modal">
    <img class="modal__img" src="images/svg/check-modal.svg" alt="img" />
    <h3 class="modal__title">Працюємо 24/7</h3>
    <div class="modal__content">
      <svg class="modal__icon">
        <use href="images/svg/symbol-defs.svg#icon-metro-modal"></use>
      </svg>
      <p class="modal__text">Голосіївська, готель "МИР"</p>
    </div>
    <button data-modal-close class="button">
      <p class="button__title">OK</p>
    </button>
  </div>
</div>
