<!DOCTYPE html>
<html lang="en">
  <article id="office">
    <section class="section__office">
      <h2 class="title__item">вулиця Голосіївська</h2>
      <div class="location__map">
        <h2 class="map__title">Готель "МИР"</h2>
        <div class="map">
          <h3 class="location__map__title">Google map</h3>
          <iframe
            class="map__google"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1512.248397234545!2d30.509025575151067!3d50.398460513789665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c94b47d3a02f%3A0xa0a5d4afb1d840c3!2sPryvatnyy%20Notarius%20Simonova%20Viktoriya%20Valeriyivna!5e0!3m2!1sru!2sua!4v1700403198614!5m2!1sru!2sua"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div></div>
    </section>
  </article>
</html>
