<section class="section__office">
<h2 class="title__item">вулиця Голосіївська</h2>
   <div class="location__map">
         <h2 class="map__title">Готель "МИР"</h2>
          <div class="map">
      <h3 class="location__map__title">Google map</h3>
      <iframe
        class="map__google"
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4277.441282348406!2d30.510307147973954!3d50.39672173395503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1699309593072!5m2!1suk!2sua"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
  <div>
  </div>
</section>
