<section class="section__schedule">
   <h3 class="title__item" id="id-4">Працюємо за таким графіком</h3>
  <p class="schedule__title agreement__scedule">
    *за попередньою домовленістю надаємо послуги без обмежень у часі та днях
    тижня (24/7)
  </p>
  <table class="schedule">
    <thead>
      <tr>
        <th class="column_title">День тижня</th>
        <th class="column_title">Години роботи</th>
      </tr>
    </thead>
    <tbody class="schedule-body">
      <tr>
        <td class="title__td">Понеділок</td>
        <td>з 10:00 до 19:00</td>
      </tr>
      <tr>
        <td class="title__td">Вівторок</td>
        <td>з 10:00 до 19:00</td>
      </tr>
      <tr>
        <td class="title__td">Середа</td>
        <td>з 10:00 до 19:00</td>
      </tr>
      <tr>
        <td class="title__td">Четвер</td>
        <td>з 10:00 до 19:00</td>
      </tr>
      <tr>
        <td class="title__td">П'ятниця</td>
        <td>з 10:00 до 19:00</td>
      </tr>
      <tr class="schedule__hover_1">
        <td class="title__td">Субота</td>
        <td>За попередньою домовленістю</td>
      </tr>
      <tr class="schedule__hover_2">
        <td class="title__td">Неділя</td>
        <td>Вихідний</td>
      </tr>
    </tbody>
  </table> 
</section>
