<section class="section__servise">
<h3 class="title__item" id="id-2">Для Вас ми зробимо</h3>
  <ul class="servise__list">
    <li class="servise__item">
      <p class="servise__title">Оформлення договорів</p>
    </li>
    <li class="servise__item">
      <p class="servise__title">Оформлення довіреностей</p>
    </li>
    <li class="servise__item"><p class="servise__title">Оформлення заяв</p></li>
    <li class="servise__item">
      <p class="servise__title">Оформлення спадщини</p>
    </li>
    <li class="servise__item">
      <p class="servise__title">Оформлення заповіту</p>
    </li>
    <li class="servise__item">
      <p class="servise__title">Посвідчення підпису</p>
    </li>
    <li class="servise__item">
      <p class="servise__title">Посвідчення копій</p>
    </li>
    <li class="servise__item">
      <p class="servise__title">Переоформлення нерухомості</p>
    </li>
    <li class="servise__item"><p class="servise__title">Реєстрація</p></li>
    <li class="servise__item">
      <p class="servise__title">Посвідчення аграрних розписок</p>
    </li>
  </ul>
</section>
